In [74]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [75]:
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn import decomposition
from sklearn.decomposition import PCA, TruncatedSVD

In [76]:
All = pd.read_csv('df_ALL.csv')
All.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,7120,7121,7122,7123,7124,7125,7126,7127,7128,Cancer
0,0,-214,-153,-58,88,-295,-558,199,-176,252,...,511,-125,389,-37,793,329,36,191,-37,ALL
1,1,-139,-73,-1,283,-264,-400,-330,-168,101,...,837,-36,442,-17,782,295,11,76,-14,ALL
2,2,-76,-49,-307,309,-376,-650,33,-367,206,...,1199,33,168,52,1138,777,41,228,-41,ALL
3,3,-135,-114,265,12,-419,-585,158,-253,49,...,835,218,174,-110,627,170,-50,126,-91,ALL
4,4,-106,-125,-76,168,-230,-284,4,-122,70,...,649,57,504,-26,250,314,14,56,-25,ALL

In [77]:
target = All["Cancer"]
target_names = ["ALL", "AML"]

In [78]:
data = All.drop("Cancer", axis=1)
feature_names = data.columns
data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
0,0,-214,-153,-58,88,-295,-558,199,-176,252,...,185,511,-125,389,-37,793,329,36,191,-37
1,1,-139,-73,-1,283,-264,-400,-330,-168,101,...,169,837,-36,442,-17,782,295,11,76,-14
2,2,-76,-49,-307,309,-376,-650,33,-367,206,...,315,1199,33,168,52,1138,777,41,228,-41
3,3,-135,-114,265,12,-419,-585,158,-253,49,...,240,835,218,174,-110,627,170,-50,126,-91
4,4,-106,-125,-76,168,-230,-284,4,-122,70,...,156,649,57,504,-26,250,314,14,56,-25

In [92]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=40)

In [93]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [81]:
#SVM without SVD
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.556

In [82]:
#KNN without SVD
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(X_train, y_train)
print('k=13 Test Acc: %.3f' % knn.score(X_test, y_test))

k=13 Test Acc: 0.778

In [83]:
#DecTree without SVD
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6111111111111112

In [84]:
#RandForest without SVD
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7777777777777778

In [85]:
f = sorted(zip(rf.feature_importances_, feature_names), reverse=True)
def feature_names_Number(n):
    sel=[t[1] for t in f[:n]]
    return sel

In [86]:
data = All.drop("Cancer", axis=1)
n = 50
feature_names = data[feature_names_Number(n)]
data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
0,0,-214,-153,-58,88,-295,-558,199,-176,252,...,185,511,-125,389,-37,793,329,36,191,-37
1,1,-139,-73,-1,283,-264,-400,-330,-168,101,...,169,837,-36,442,-17,782,295,11,76,-14
2,2,-76,-49,-307,309,-376,-650,33,-367,206,...,315,1199,33,168,52,1138,777,41,228,-41
3,3,-135,-114,265,12,-419,-585,158,-253,49,...,240,835,218,174,-110,627,170,-50,126,-91
4,4,-106,-125,-76,168,-230,-284,4,-122,70,...,156,649,57,504,-26,250,314,14,56,-25

In [87]:
#Implementing the SVD than trying our models again.
svd = TruncatedSVD(n_components=10)
x = svd.fit(feature_names).transform(feature_names)

In [88]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, target, random_state=41)

In [89]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [90]:
#SVM with SVD
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.611

In [91]:
#KNN with SVD
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(X_train, y_train)
print('k=13 Test Acc: %.3f' % knn.score(X_test, y_test))

k=13 Test Acc: 0.667